*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
}

#search-header {
  position: relative;
  height: 450px;
}

#search-header img {
  width: 100%;
  height: 450px;
}

#form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 33%;
  padding-bottom: 35px;
}

#form-container h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #736251;
}

#search-input {
  background-color: #ffffff;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
}

#search-input:focus {
  border: none;
  outline: none;
}

#attribution-div {
  margin: 35px auto 25px;
  text-align: center;
  color: black;
}

#attribution {
  color: black;
  letter-spacing: 0.5px;
}

#attribution:visited {
  color: black;
}

#response-div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px;
}

.img-div img {
  width: 99%;
}

/* Medium/Large devices (Laptops, 1250px and down) */
@media only screen and (max-width: 1250px) {
  #form-container h1 {
    font-size: 28px;
  }
}

/* Medium devices (landscape tablets, 900px and down) */
@media only screen and (max-width: 900px) {
  #search-header {
    margin-top: 35px;
  }

  #search-header img {
    height: 360px;
  }

  #form-container h1 {
    font-size: 24px;
  }
}

/* Small devices (phones, 750px and down) */
@media only screen and (max-width: 750px) {
  #search-header {
    height: 320px;
    width: 100vw;
    margin: auto;
  }

  #search-header img {
    height: 320px;
    width: 100vw;
    margin: auto;
  }

  #form-container {
    padding-top: 100px;
    max-width: 60%;
  }

  #form-container h1 {
    font-size: 20px;
  }
}

/* Small devices (small phones, 650px and down) */
@media only screen and (max-width: 650px) {
  #response-div {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto 50px;
  }

  #search-header img {
    width: 650px;
  }

  .img-div img {
    width: 99%;
  }

  .img-div {
    margin: auto;
    width: 400px;
  }
}